<header>
  <nav class="nav-bar">
    <picture>
      <a href="index.html">
        <img src="./assets/branding/logo_light_horizontal.svg" alt="Isologotipo de la marca funko">
      </a>
    </picture>
    <ul class="navBar-ul">
      <li class="navBar-li">
        <a href="./pages/shop.html">SHOP</a>
      </li>
      <li class="navBar-li">
        <a href="./pages/contact.html">CONTACTO</a>
      </li>
      <li class="navBar-li">
        <a href="/auth/login">LOGIN</a>
      </li>
      <li class="navBar-li">
        <a href="./pages/cart.html"><img src="./assets/icons/cart-icon.svg" alt="Carrito de compras"></a>
      </li>
    </ul>
  </nav>
</header>