<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
<body> 
  <%- include ('../partials/header') %>

<main>
<div class="text-center">
    <div id="listado2"><h1>CREA TU CUENTA</h1></div>
    <div id="text3"><h3>Completa el formulario para ser parte del mundo de los Funkos</h3></div>
</div>
    <div class="product-card-container">
        <form class="form" action='/auth/register' method="POST" enctype="application/x-www-form-urlencoded">
        <div class="input-container">
            <label for="name" value="nombre">Nombre:</label>
        <input type="text" name="name"placeholder="John" id="name" class="input-data" >
        </div>
        <br>
        <div class="input-container">
            <label for="lastname">Apellido:</label>
        <input type="text" name="lastname" placeholder="Doe" id="lastname" class="input-data" >
       </div>
        <br>
        <div class="input-container">
            <label for="email">Email:</label>
        <input type="email" name="email" placeholder="JohnDoe@correo.com" id="email" class="input-data">
        </div>
        <br>
        <div class="input-container">
            <label for="password">Contraseña:</label>
        <input type="password" name="password" placeholder="⬤ ⬤ ⬤ ⬤ ⬤ ⬤ ⬤ ⬤ ⬤" id="password" class="input-data" >
        </div>
        <br>
        <div class="input-container">
            <label for="repassword">Repita contraseña:</label>
        <input type="password" name="repassword" placeholder="⬤ ⬤ ⬤ ⬤ ⬤ ⬤ ⬤ ⬤ ⬤" id="repassword" class="input-data" >
        </div>
        <br>
        <button class="cart-button3" type="submit" value="ingresar">Registrar</button>
        <input type="checkbox" name="" id="check" class="checkbox">
        <label for="">Acepto <a href="#" class="shop-product-installments">Terminos y condiciones</a>
        </label> 
        
       </form>
    </div>
</main>
<%- include ('../partials/footer') %>
</body>

</html>